<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>69</integer>
	<key>Time Stamp</key>
	<real>1771745194.5652862</real>
	<key>UUID</key>
	<string>E783AC72-20DE-475A-A268-65C8FAFB2C48</string>
</dict>
</plist>
