cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
chardet==5.0.0
coverage==6.4.1
hdf5plugin==3.3.1
h5py==3.7.0
hl7==0.4.5
httplib2==0.20.4
hypothesis==6.49.1
idna==3.3
jupyter==1.0.0
libcst==0.4.6
mypy-extensions==0.4.3
matplotlib==3.5.2
numpy==1.23.0
pandas==1.4.3
pip==22.1.2
PyHive==0.6.5
pymssql==2.2.5
pyodbc==4.0.32
pytest==7.1.2
pytz==2022.1
requests==2.28.1
scipy==1.8.1
setuptools==63.1.0
wheel==0.37.1
wincertstore==0.2
