<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Culmulative Death Event Counts (Within ICU)
Days
Count
Dex 0.1 mcg/kg/h
Dex 0.3 mcg/kg/h
Placebo
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
